<div class="navbar-zerowaste">
      <ul class="navbar-links">
        <%= link_to "#" do %>
          <li class="navbar-item">
            <i class="fas fa-home"></i>
            <p>home</p>
          </li>
        <% end %>

       <%= link_to "#" do %>
          <li class="navbar-item">
            <i class="fas fa-plus"></i>
              <p>Add</p>
          </li>
        <% end %>

         <%= link_to "#" do %>
          <li class="navbar-item">
            <i class="far fa-file-alt"></i>
                <p>Recipe</p>
          </li>
        <% end %>

         <%= link_to "#" do %>
          <li class="navbar-item">
           <i class="fas fa-apple-alt"></i>
             <p>Estoque</p>
          </li>
        <% end %>

      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <li class="navbar-item">
            <i class="fas fa-user-alt-slash"></i>
            <p>Logout</p>
          </li>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <li class="navbar-item">
            <i class="fas fa-user"></i>
            <p>Login</p>
          </li>
        <% end %>
      <% end %>
      </ul>
</div>
