<div class="background-home">
  <div class="background-logo">
    <%= image_tag "logozerowaste.png", width: 200, height: 60, class: "image-logo mt-2" %>
  </div>
  <div class="container-grid">
    <div class="text-center margin-home">
    <% if current_user %>
      <h5><strong>Hello, <%= @name[0] %>!</strong></h5>
    <% else %>
      <h5><strong>Welcome!</strong></h5>
    <% end %>
    </div>
    <div class="container home-grid">
      <% if current_user%>
        <%= link_to profile_path, class: "link-home" do %>
          <div class="home-card">
            <i class="fas fa-user icon-big"></i>
            <p class="mt-2">Profile</p>
          </div>
         <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "link-home" do %>
          <div class="home-card">
            <i class="fas fa-user icon-big"></i>
            <p class="mt-2">Login</p>
          </div>
         <% end %>
       <% end %>

      <%= link_to new_ingredient_pantry_path, class: "link-home" do %>
        <div class="home-card">
          <i class="fas fa-upload icon-big"></i>
          <p class="mt-2">Add New Ingredient</p>
        </div>
      <% end %>

      <%= link_to root_path, class: "link-home" do %>
        <div class="home-card">
          <i class="fas fa-heart icon-big"></i>
          <p class="mt-2">Your Favorites</p>
        </div>
      <% end %>

      <%= link_to ingredient_pantries_path, class: "link-home" do %>
        <div class="home-card">
          <i class="fas fa-clipboard-list icon-big"></i>
          <p class="mt-2">Your Food Pantry</p>
        </div>
      <% end %>

      <%= link_to recipes_path, class: "link-home" do %>
        <div class="home-card">
          <i class="fas fa-book icon-big"></i>
          <p class="mt-2">Recipes</p>
        </div>
      <% end %>

      <%= link_to root_path, class: "link-home" do %>
        <div class="home-card">
          <i class="fas fa-list icon-big"></i>
          <p class="mt-2">Checklist</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
