<h1>Add a ingredient to your pantry</h1>
<%= simple_form_for @ingredient_pantries do |f| %>
  <%= f.input :best_before %>
  <%= f.input :lot %>
  <%= f.input :quantity %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
